@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* #container {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(
      transparent,
      rgba(0, 0, 0, 25%),
      rgba(0, 0, 0, 100%)
    ),
    url(https://www.mexicoescultura.com/galerias/actividades/principal/land.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/*header*/
.wrapper {
  display: flex;
  justify-content: space-around;
  height: 60px;
  line-height: 60px;
  background-color: lightslategray;
}

.wrapper li a:hover{
  color: blue;
}

.wrapper ul, .wrapper li, .wrapper-title,
.wrapper-title h1, .wrapper-info-1, .wrapper-info-2
{
  display: inline;

}

.wrapper-title h1 {
  font-family:'Merienda', cursive; /*font 가져옴*/
  font-weight:700;
  font-size: 1.7em; /* 얘 크가가 커질수록 영화,커뮤니티랑 로그민,회원가입, 검색이랑 라인이 안맞아짐 어케해야할까?*/
  color:#fff;
  text-shadow:0 -1px 0 #222;  /* 그림자 색 */
  padding: 20px;
}

.wrapper-info-1 li {
  line-height: auto;
}

.wrapper-info-1 li a, .wrapper-info-2 li a{
  font-size:1.1em;
  color:#fff;
  font-weight:600;  /* 글자 굵기 */
  padding:10px 30px; /* 간격 */
}

.wrapper-title{
  margin-left: -100px;
}

.wrapper-info-2{
  margin-right: -100px;
}
/*흠..*/
body {
  width: 100%;
  height: 70vw;
  min-width: 700px;
}

/*검색창 꾸미기*/
.search{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-back{
  background-image: url(https://www.mexicoescultura.com/galerias/actividades/principal/land.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}

.title{
  position: absolute;
}

.title h2 {
  font-size : 2.5em;
  font-weight: 500;
  text-shadow: 0 -1px 0 #222;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  padding : 50px;
  left: 15%;
}

#search-input {
  position: relative;
  top: 200px;
  width: 80%;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  padding: 15px; /* 검색창안 텍스트 살짝 밀기*/
}

#search-btn{
  position: relative;
  top: 200px;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  font-size: 15px;
}


/* 중앙에 꼽아버리는 알아두면 유용한 코드
display: flex;
justify-content: center;
align-items: center; */


/* 영화 받아올 공간 */
/*
.box-wrapper{
  display : flex
}

.box-wrapper > button{
  background-color: white;
  font-size: 1.1em;
  color: black;
}

.box{
  position : relative;
  top: 15px;
  width: 220px;
  height: 330px;
  border: 2px solid red;
  margin:15px;
  border-radius: 25px;
}

img {
  border-radius: 25px;
}
*/.slider-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  width: calc(100% - 120px); /* 버튼의 너비를 빼줌 */
  overflow: hidden;
}

.slider-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.box {
  width: 220px;
  height: 330px;
  background-color: #ccc;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.button {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

.search-results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  #search-message {
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Nanum Pen Script', 'Arial', sans-serif;
    font-weight: bold;
  }

