body {
  background-color: #c4c4c4;
}

/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* reset style */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
li {
  list-style: none;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
}
input:hover {
  cursor: pointer;
}

/* 상단 header부분 디자인 */
header {
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
}
.logo-img {
  margin-top: 10px;
  background-color: #fff;
  width: 120px;
  height: 70px;
}
header p {
  color: #000;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-top: 12px;
}

/* main-sec부분 디자인 */
.main-sec {
  padding-top: 40px;
  /* background-color: aqua; */
}
.big-wrapper {
  margin: 5% auto;
  background-color: #fff;
  max-width: 520px;
  height: 800px;
  border-radius: 5px;
}
.input-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  /* margin-top: 50px; */
}

.labl {
  color: #767676;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 20px;
  font-weight: 600;
  /* margin-top: 5%; */
}

input {
  display: inline;
  width: 460px;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  padding-right: 10px;
  outline: none;
}
input::placeholder {
  color: #bfbdbd;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 14px; /* 100% */
}
input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
  color: #bfbdbd;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 14px;
  line-height: 14px;
}

/* 가입하기, 취소하기 버튼 디자인 */
.cancelAndjoin-input {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.signup,
.cancel {
  width: 475px;
  border-radius: 5px;
  border: 2px solid black;
  box-sizing: border-box;
}