body{
  background-color: #C4C4C4;
  margin: 0 auto;
} 

/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


/* reset */
html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed, 
      figure, figcaption, footer, header, hgroup, 
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
      }
li {
  list-style: none;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
button:hover{
  cursor: pointer;
}

/* 스타일 적용 */
main {
  position: relative;
  max-width: 520px;
  height: 736px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid  black;/*색만 수정 해야하는 사항*/
  background: #FFF;
  margin: 0 auto;
}

/* 로그인 또는 회원가입 header디자인 */
h2 {
  color: #000;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  width: fit-content;
  margin: 20px auto 18px;
  position: relative;
}

.btn-x {
  position: absolute;
  right: 24px;
  top: 22px;
  border: none;
  background-color: #FFF;
  width: 16px;
  height: 16px;
  background-image: url(/static/img/close.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-x:hover {
  cursor: pointer;
}

/* main section 디자인 */
.main-sec {
  border-top: 1px solid #C4C4C4;
}

.wrapper {
  margin-left: 24px;
}

.wrapper-idpw {
  display: flex;
  flex-direction: column;
}

h3 {
  color: #000;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  width: 369px;
  height: 24px;
  margin-top: 26px;
  margin-bottom: 24px;
}

input {
  width: 472px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  background: #FFF;
  padding-left: 16px;
  box-sizing: border-box;
}

input::placeholder {
  display: inline;
  color: #767676;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  /* background-color: greenyellow; */
}

.inp.ID {
  margin-bottom: 6px;
  border: 2px solid #F4492E;
  background: #FFF;
}

.PS, .Bt, .N, .T {
  margin-bottom: 10px;
}

.signup{
  background-color: #2F80ED;
  border: #2F80ED;
  color: white;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}