@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font: inherit;
  vertical-align: baseline;
}

/*header*/
.wrapper {
  display: flex;
  justify-content: space-around;
  height: 60px;
  line-height: 60px;
  background-color: lightslategray;
}

.wrapper li a:hover{
  color: blue;
}

.wrapper ul, .wrapper li, .wrapper-title,
.wrapper-title h1, .wrapper-info-1, .wrapper-info-2
{
  display: inline;

}

.wrapper-title h1 {
  font-family:'Merienda', cursive; /*font 가져옴*/
  font-weight:700;
  font-size: 1.7em; /* 얘 크가가 커질수록 영화,커뮤니티랑 로그민,회원가입, 검색이랑 라인이 안맞아짐 어케해야할까?*/
  color:#fff;
  text-shadow:0 -1px 0 #222;  /* 그림자 색 */
  padding: 20px;
}

.wrapper-info-1 li {
  line-height: auto;
}

.wrapper-info-1 li a, .wrapper-info-2 li a{
  font-size:1.1em;
  color:#fff;
  font-weight:600;  /* 글자 굵기 */
  padding:10px 30px; /* 간격 */
}

.wrapper-title{
  margin-left: -100px;
}

.wrapper-info-2{
  margin-right: -100px;
}
/*흠..*/
body {
  width: 100%;
  height: 70vw;
  min-width: 700px;
}

/* main */

/* 관련영화 */
h1 {
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 1.3em;
  font-weight: bold;
}
.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  width: calc(100% - 120px); /* 버튼의 너비를 빼줌 */
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider-inner {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider-inner > .box{
  width: 220px;
  height: 330px;
  background-color: #ccc;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}


.button {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}