<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie</title>
  <link rel="stylesheet" href="/css/main/styles.css" />
    <script src="/js/main/app.js" type="module"></script>



</head>

<body>
  <div id="container">
    <header class="wrapper">
      <div class="wrapper-title">
        <a href="/">
          <h1>MyMovie</h1>
        </a>
        <div class="wrapper-info-1">
          <ul>
              <li><a href="/">영화</a></li>
              <li><a href="/">커뮤니티</a></li>
          </ul>
        </div>
      </div>
      <!-- 나머지부분 묶기 -->
          <ul class="wrapper-info-2">
              <li sec:authorize="isAuthenticated()"><a href="/" th:text="${#authentication.name}"></a></li>
              <li sec:authorize="isAuthenticated()"><a href="/user/logout">로그아웃</a></li>
              <li sec:authorize="isAnonymous()"><a href="/user/login">로그인</a></li>
              <li sec:authorize="isAnonymous()"><a href="/user/join">회원가입</a></li>
              <li><a href="#">검색</a></li>
          </ul>
    </header>

  <div class="wrapper-back">
    <div class="title">
     <h2>영화찾기 사이트 <br> MyMovie입니다.</h2>
    </div>
     <div>
      <form class="search" action="/movie/search" method="post" name="movie">
        <input type="text" id="search-input" name="query" placeholder="검색할 영화 제목을 입력해주세요." autofocus/>
        <button type="submit" id="search-btn">검색</button>
      </form>
     </div>
  </div>

      <form action="/genre" method="post">
          <div class="filter-menu">
              <ul class="select-genre">
                  <li>인기</li>
                  <li value="28">액션</li>
                  <li value="12">모험</li>
                  <li value="16">애니메이션</li>
                  <li value="35">코미디</li>
                  <li value="80">범죄</li>
                  <li value="53">스릴러</li>
                  <li value="878">SF</li>
                  <li value="14">판타지</li>
                  <li value="27">호러</li>
              </ul>
          </div>
      </form>
  <!-- 영화 받아올 공간 만들기 -->
  <div class="box-wrapper" >
    <div class="box" th:each="movies:${movies}" ><a th:href="@{/movie/{id}(id=${movies.id})}" ><img th:src="${movies.poster_path}" alt="NO IMAGE"></a></div>
  </div>


  <footer>
   
  </footer>
</div>
</body>

</html>