<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMovie 로그인 페이지</title>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/login/login.css">
</head>
<body>
  <h1 class="a11y-hidden">MyMovie</h1>

  <main>
    <header>
      <h2>로그인 또는 회원가입</h2>
      <a href="/">
        <button type="button" class="btn-x"></button>
      </a>
    </header>
  
    <!-- 메인 section -->
    <section class="main-sec">
      <div class="wrapper">
        <h3>MyMovie에서 여러분의 영화를 찾으세요!</h3>
        
        <form class="wrapper-idpw" action="/user/login" method="post">
          <input type="text" id="inpID" name="email" class="inp ID" placeholder="이메일"></input>
          <label for="inpID" class=""></label>
  
          <p class="error ID">아이디를 입력해 주세요</p>
  
          <input type="password" id="inpPS" class="inp PS" name="password" placeholder="비밀번호"></input>
          <label for="inpPS" class=""></label>
          <input type="checkbox" id="inpHold" class="inphold txt-hide">
          <label for="inpHold" class="labl-hold">로그인 상태 유지</label>
          <input type="submit" class="btn-login" value="로그인">
        </form>
        </div>
      </div>
    


      
      
      <div class="side-tool">
        <a href="/user/join">
          <button>회원가입</button>
        </a>
        <p>|</p>
        <button>아이디/비밀번호 찾기</button>
      </div>
    </section>
  
    <p class="line">또는</p>
  
    <ul class="difLogin">
      <li><a href="http://www.google.co.kr" class="google">구글 계정으로 로그인</a></li>
      <li><a href="https://ko-kr.facebook.com" class="facebook">페이스북 계정으로 로그인</a></li>
      <li><a href="https://nid.naver.com/nidlogin.login?mode=form&url=https://www.naver.com/" class="naver">네이버 계정으로 로그인</a></li>
      <li><a href="https://www.kakaocorp.com/page/service/service/KakaoTalk" class="kakao">카카오톡 계정으로 로그인</a> </li>
    </ul>
  </main>

</body>
</html>