<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
</head>
<body>

<form action="/movie/search" method="post">
    <input type="text" name="query" placeholder="제목을 입력하세요">
    <input type="submit" value="검색">
</form>
<a href="/user/logout">로그아웃</a>
<div>
    <p th:text="${#authentication.name}"></p>
</div>
<p></p>
<div class="container">
    <div>
        <table border="1">
            <thead>
            <tr>
                <th>포스터<th>
                <th>제목<th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movies:${movies}">
                <td><a th:href="@{/movie/{id}(id=${movies.id})}" ><img th:src="${movies.poster_path}" alt="NO IMAGE"></a></td>
                <td th:text="${movies.title}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
</html>