<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>영화상세페이지</title>
    <link rel="stylesheet" href="/css/main/detail.css" />

</head>

<body>
<div id="container">
    <!-- 로고부분 -->
    <header class="wrapper">
        <div class="wrapper-title">
            <a href="/">
                <h1>MyMovie</h1>
            </a>
            <div class="wrapper-info-1">
                <ul>
                    <li><a href="/">영화</a></li>
                    <li><a href="/">커뮤니티</a></li>
                </ul>
            </div>
        </div>
        <!-- 나머지부분 묶기 -->
        <ul class="wrapper-info-2">
            <li sec:authorize="isAuthenticated()"><a href="/" th:text="${#authentication.name}"></a></li>
            <li sec:authorize="isAuthenticated()"><a href="/user/logout">로그아웃</a></li>
            <li sec:authorize="isAnonymous()"><a href="/user/login">로그인</a></li>
            <li sec:authorize="isAnonymous()"><a href="/user/join">회원가입</a></li>
            <li><a href="#">검색</a></li>
        </ul>
    </header>

    <!-- main -->
    <main>
        <div class="wrapper-back">
            <div class="wrapper-box">
                <div class="box"><img  th:src="${movie.poster_path}" alt="No Image"></div>
            </div>
            <div class="wrapper-info-3" >
                <h1 th:text="${movie.title}"></h1>
                <p style="width:700px; word-break:break-all;" th:text="${movie.overview}"></p>
                <div class="character">
                    <p>출연진</p>
                </div>
            </div>
        </div>
        <!-- 관련 영화 -->
        <h3>인기 영화</h3>
        <div class="slider-container">
            <button class="button left"><</button>
            <div class="slider">
                <div class="slider-inner">
                    <div class="box" th:each="movies:${movies}" ><a th:href="@{/movie/{id}(id=${movies.id})}" ><img th:src="${movies.poster_path}" alt="NO IMAGE"></a></div>
                </div>
            </div>
            <button class="button right">></button>
        </div>
    </main>
</div>