<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="widli=device-widli, initial-scale=1.0" />
    <title>Movie</title>
    <link rel="stylesheet" href="/css/searchpage/searchpg.css" />
    <script src="/js/searchpage/searchpg.js" type="module"></script>
</head>

<body>
<div id="container">
    <header class="wrapper">
        <div class="wrapper-title">
            <a href="/">
                <h1>MyMovie</h1>
            </a>
            <div class="wrapper-info-1">
                <ul>
                    <li><a href="/user/like">내 영화</a></li>
                    <li><a href="/">커뮤니티</a></li>
                </ul>
            </div>
        </div>
        <!-- 나머지부분 묶기 -->
        <ul class="wrapper-info-2">
            <li sec:authorize="isAuthenticated()"><a href="/" th:text="${#authentication.name}"></a></li>
            <li sec:authorize="isAuthenticated()"><a href="/user/logout">로그아웃</a></li>
            <li sec:authorize="isAnonymous()"><a href="/user/login">로그인</a></li>
            <li sec:authorize="isAnonymous()"><a href="/user/join">회원가입</a></li>
            <li><a href="#">검색</a></li>
        </ul>
    </header>

    <div class="wrapper-back">
        <div class="title">
            <h2>영화찾기 사이트 <br> MyMovie입니다.</h2>
        </div>
        <div>
            <form class="search" action="/movie/search" method="post" name="movie">
                <input type="text" id="search-input" name="searchMovie" placeholder="검색할 영화 제목을 입력해주세요." autofocus />
                <button type="submit" id="search-btn">검색</button>
            </form>
        </div>
    </div>

    <div class="search-results">
        <p id="search-message" class="hidden">검색 결과가 없습니다.</p>
    </div>

    <div class="slider-container">
        <div class="box" th:each="movies:${movies}" ><a th:href="@{/movie/{id}(id=${movies.id})}" ><img th:src="${movies.poster_path}" alt="NO IMAGE"></a></div>
    </div>

    </div>

</body>

</html>