<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 영화</title>
    <link rel="stylesheet" href="/css/myPage/mypage.css"/>
</head>

<body>
<div id="container">
    <header class="wrapper">
        <div class="wrapper-title">
            <a href="/">
                <h1>MyMovie</h1>
            </a>
            <div class="wrapper-info-1">
                <ul>
                    <li><a href="/user/like">내 영화</a></li>
                    <li><a href="/">커뮤니티</a></li>
                </ul>
            </div>
        </div>
        <!-- 나머지부분 묶기 -->
        <ul class="wrapper-info-2">
            <li sec:authorize="isAuthenticated()"><a href="/" th:text="${#authentication.name}"></a></li>
            <li sec:authorize="isAuthenticated()"><a href="/user/logout">로그아웃</a></li>
            <li sec:authorize="isAnonymous()"><a href="/user/login">로그인</a></li>
            <li sec:authorize="isAnonymous()"><a href="/user/join">회원가입</a></li>
            <li><a href="#">검색</a></li>
        </ul>
    </header>
    <main>
        <div class="like">
            <h1>좋아요 누른 영화</h1>
            <div class="box-wrapper">
                <div class="box" th:each="movies:${movies}" ><a th:href="@{/movie/{id}(id=${movies.id})}" ><img th:src="${movies.poster_path}" alt="NO IMAGE"></a></div>
            </div>
        </div>


    </main>
</div>
