<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form action="/user/join" method="post">
    <input type="text" placeholder="이메일" name="email"><p></p>
    <input type="text" placeholder="비밀번호" name="password"><p></p>
    <input type="text" placeholder="이름" name="userName"><p></p>
    <input type="text" placeholder="전화번호" name="phoneNum"><p></p>
    <input type="text" placeholder="생년월일" name="birth"><p></p>
    <input type="text" placeholder="주소" name="address"><p></p>
    <input type="checkbox"  name="Member" value="Member">Member
    <input type="checkbox"  name="Admin" value="Admin">Admin<p></p>
    <input type="submit" value="회원가입">
</form>
</body>
</html>